//Site fonts
@font-face {
    font-family: regular;
    src: url(/font/Montserrat-Regular.otf);
}

@font-face {
    font-family: medium;
    src: url(/font/Montserrat-Medium.otf);
}

@font-face {
    font-family: bold;
    src: url(/font/Montserrat-Bold.otf);
}

@font-face {
    font-family: extra-bold;
    src: url(/font/Montserrat-ExtraBold.otf);
}