@use "../style/normalize";
@use "../style/layout";
@use "../style/typography";
@use "../style/animation";
@use "../style/components";
@use "../style/colors";
@use "../style/classes";

//Nav
nav { 
    padding: 0 2%;
    
    .btn-wrapper--hide {
        @media (min-width:701px) {
            display: none;
        }
    }
}

aside {
    position: absolute;
    width: 100%;
    max-width: 300px;
    height: 100%;
    margin-left: -300px;
    z-index: 2;
    border-right: 2px solid colors.$light-blue;
    overflow: auto;

    @media (min-width: 700px) {
        position: static;
        max-width: 297px;
        height: auto;
        margin-left: 0;
        z-index:initial;
    }

}

aside > div:nth-child(1) {
    position: relative;
    height: 100%;
    background-color: colors.$white;

    .close-btn {
        position: absolute;
        right: 5px;
        top: 5px;

        @media (min-width: 701px) {
            display: none;
        }
    }

    .addnewtask-btn {
        max-width: 200px;

        @media (max-width: 900px) {
            display: none;
        }
    }

    .my-img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        margin-right: 10px;
    }

    .wrapper1 {
        position: sticky;
        top: 0;
        width: 100%;
        max-width: 300px;
        height: 150px;
        z-index: 2;
        background-color: colors.$white;
    }

    .wrapper2 {
        position: relative;
        margin-top: 20px;
        height: 70%;

        label {
            padding: 0 20px;
            height: 40px;
            position: relative;
            overflow: hidden;
            
            &:hover {
                background-color: colors.$gray;
            }

            .addlist {
                height: 24px;
                width: 24px;
                margin-left: 10px;
                cursor: pointer;

                &::before {
                    content: url(/icons/smalladdicon.png);
                }
            }
        }

        input[type="checkbox"] + .span-txt {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            max-width: 180px;
            margin-right: 5px;
        }
    }
}

//Main styling
main {
    background-image: url(/images/buildings.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 10px;
    overflow: auto;

    .item {
        @media (min-width:901px) {
            width: 48%;
        }
    }

    .item2 {
        height: 100%;
        display: none;

        @media (min-width:901px) {
            display: block;
        }
    }

    #todayTask, 
    #nextDayTask,
    #missTask {
        height: 42px;
    }
    
    .content-wrapper {
        max-width: 400px;
        margin-top: 10px;
        overflow: hidden;        

        #ampm {
            margin-left: 5px;
            font-size: 16px;
            letter-spacing: 1px;
        }
        
        .head, 
        label {
            padding: 0 10px;
            height: 40px;
            border: 2px solid colors.$black;
            background-color: colors.$white;
        }

        label {
            position: relative;
            overflow: hidden;
            padding: 0 25px;
            margin-top: 2px;
            z-index: 1;
        }

        .hidden-checkbox:checked ~ .checkmark::after {
            display: block;
        }

        .hidden-checkbox:checked + .ninety-five{
            text-decoration: line-through;
            opacity: 0.8;
        }

        input[type="checkbox"] + span {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            padding-right: 15px;
            padding-bottom: 10px;
            position: relative;
            font-family: medium;

            .details {
                position: absolute;
                font-size: 11px;
                bottom: -1px;
                left: 0;
                width: 200px;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            } 
        }

        .checkmark {
            position: absolute;
            left: 8px;
            height: 20px;                                                                                                                                                                                                                                                                   
            width: 20px;
            border: 2px solid colors.$black;
            border-radius: 2px;

            &::after {
                content: "";                                                                                                                                                                                                                
                display: none;
                position: absolute;
                left: 5px;
                top: 0px;
                width: 6px;
                height: 12px;
                border: solid colors.$black;
                border-width: 0px 3px 3px 0px;
                transform: rotate(45deg);
            }
        }
    }
    
    .btn-wrapper--circle {
        width: 60px;
        border-radius: 50%;
        align-self: flex-end;
        margin-top: 20px;
        
        @media (min-width:901px) {
            display: none;
        }
    }

    .shadow {
        box-shadow: 0px 0 6px 2px rgba($color: #000000, $alpha: 0.4);
    }
}

//SITE MODALS
.modal {
    position: absolute;
    background-color: colors.$white;
}

.top-input-modal, 
.bottom-input-modal, 
.edit-task-modal, 
.addlist-modal, 
.editlist-modal {
    max-width: 400px;
    padding: 10px 20px;
    border: 2px solid colors.$black;
}

.top-input-modal {
    position: static;
    height: 220px;
    transform: translateY(50px);
    border-radius: 7px;
    opacity: 0;
}

.bottom-input-modal, 
.edit-task-modal {
    bottom: 0;
    height: 300px;
    z-index: 1;
    margin-bottom: -300px;
    color: colors.$black;
}

.edit-task-modal, 
.close-edit-task-modal {
    opacity: 0;
    z-index: -1;
}

.edit-task-modal {
    border: none;
    height: 260px;
    top: 100px;
    border-radius: 10px;
    border: 2px solid colors.$gray;
}

.close-edit-task-modal {
    top: 500px;
    color: white;
    padding: 4px;
    cursor: pointer;
    border-radius: 4px;
    background-color: rgba($color: #000000, $alpha: 0.0);

    &:hover {
        background-color: colors.$white;
        color: colors.$black;
    }
}

.modal-container {
    position: fixed;
    height: 100%;
    width: 100%;
    max-width: 298px;
    background-color: rgba(white, $alpha: 0.7);
    z-index: -1;

    .addlist-modal, .editlist-modal {
        position: absolute;
        width: 100%;
        max-width: 290px;
        border-radius: 5px;
        transition: none;
        display: none;

        @media (min-width:701px) {
            max-width: 260px;
        }
    }

    @media (min-width:701px) {
        max-width: 268px;
    }
}